In [1]:
# Q:1 How do you comment in Phython ? What are the different types of comment?

In [3]:
# my name is Himanshu.

In [8]:
''' My name is Himanshu.
 I lives in Saharanpur.
 I am complete class 12th and now iam in B.com 1st year. '''

' My name is Himanshu.\n I lives in Saharanpur.\n I am complete class 12th and now iam in B.com 1st year. '

In [9]:
# My name is Himanshu.
# I lives in Saharanpur.
# I am complete class 12th and now iam in B.com 1st year.

In [10]:
# Q:2 What are the variables in Phython? How do you declare and assign valuse to variables?

In [11]:
 a=10

In [12]:
# there a is my variable. And 10 is value of a .

In [13]:
# Q:3 how do you convert one data type to another in Phython?

In [24]:
b=str(28)

In [25]:
type(b)

str

In [26]:
b

'28'

In [28]:
# How do you write and execute a Phython script from the command line?

In [30]:
print('My name is Himanshu')

My name is Himanshu

In [31]:
# Q:5 Given a list my_list=[1,2,3,4,5], write the code to slice the list and obtain the sub-list [2,3].

In [32]:
my_list=[1,2,3,4,5]

In [33]:
my_list[1:3:1]

[2, 3]

In [34]:
# Q:6 What is a complex number in mathematics, and how is it represented in Phython?

In [35]:
c=5+8j

In [36]:
type(c)

complex

In [37]:
# Q:7 What is the correct way to declare a variable named age and assign the value 25 to it?

In [38]:
Age=25

In [39]:
Age

25

In [40]:
# Q:8 Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [41]:
price=9.99

In [42]:
type(price)

float

In [43]:
# Q:9 Create a variable named name and assign your full name to it as a string.How would you print the value of this variable?

In [44]:
name="Himanshu Saini"

In [45]:
print(name)

Himanshu Saini

In [46]:
# Q:10 Given the string "Hello, World!",extract the substring "World".

In [55]:
string="Hello, World!"
print(string[7:12])

World

In [56]:
# Q:11 Create a variable named "is_student" and assign it a boolean value indicating weather you are currently a student or not.

In [58]:
is_student=True
print(is_student)

True